<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="DefaultConnection"
			 connectionString = "Server=localhost,1433; Database=Practica; User Id=sa; Password=xxxxxxx; TrustServerCertificate=true;Encrypt=true;"
			 providerName ="System.Data.SqlClient"
		/>
	</connectionStrings>
</configuration>